.logoTop {
    padding: 0% 0% 0% 10%;
    margin: 1% 10%;
}

/* MENU */

.navbar {
    margin-bottom: 0% !important
}

.nav {
    padding: 1% 0% 1% 5% !important;
    margin: 0 auto !important;
}

.extraP {
    padding-left: 6% !important;
}

.navBg {
    background-color: #134e6c !important;
}

.navbar-nav > li > a {
    font-size: 16px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: white;
    text-transform: capitalize;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
}

.active {
    background-color: white !important;
    border-radius: 4px;
}

.active a {
    color: black !important;
}

.icon-bar {
    background-color: white;
}

.btn {
    padding: 6px 55px !important;
}

.navbar-form {
    margin-top: .8% !important;
    margin-bottom: .8% !important;
    margin-right: 10% !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.credential-box{
    background-color : #fff;
    margin:2% 0;
    border-radius : 5px;
}

/* media quiries here */
/*
@media only screen and (min-width: 1440px) and (max-width: 1920px) {
 media quiries for home page 


}


@media only screen and (min-width: 1366px) and (max-width: 1439px) {
/* media quiries for home page 


}



@media only screen and (min-width: 1280px) and (max-width: 1365px) {
/* media quiries for home page 


}
*/

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* media quiries for home page */
    .navbar-nav > li > a {
        font-size: 14px;
    }

    .dropdown > select {
        padding: 8px 15px;
    }

    .glyphicon {
        font-size: 23px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 12px;
        padding: 6px 30px !important;
    }

    .featuredActor h4, .activeProject h4 {
        font-size: 22px;
    }

    .itemProject_detail p {
        font-size: 13px;
    }

    .itemActor_detail h5 {
        font-size: 17px;
    }

    .itemActor_detail p, .itemActor_detail span, .activeProject_detailLeft span {
        font-size: 12px;
    }

    .activeProject_detailLeft h5, .activeProject_bottom {
        font-size: 14px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* media quiries for home page */
    .navbar-nav > li > a {
        font-size: 12px;
    }

    .dropdown > select {
        padding: 8px 15px;
    }

    .glyphicon {
        font-size: 23px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 10px;
        padding: 6px 10px !important;
    }

    .headerTop_rightSec {
        padding-bottom: 0%;
    }

    .findPerson input {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 28.5% 2%;
        background: inherit;
        width: 4%;
    }

    .featuredProject, .featuredActor, .activeProject {
        margin-top: 5%;
        width: 100% !important;
    }

    .activeProject_detailLeft p {
        margin-bottom: 3%;
    }

}

@media only screen and (min-width: 700px) and (max-width: 767px) {
    /* media quiries for home page */
    .dropdown > select {
        padding: 8px 15px;
    }

    .glyphicon {
        font-size: 23px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 12px;
        padding: 10px 40px !important;
    }

    .headerTop_rightSec {
        padding-bottom: 0%;
    }

    .findPerson input {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 28.5% 2%;
        background: inherit;
        width: 4%;
    }

    .featuredProject, .featuredActor, .activeProject {
        margin-top: 5%;
        width: 100% !important;
    }

    .activeProject_detailLeft p {
        margin-bottom: 3%;
    }

}

@media only screen and (min-width: 554px) and (max-width: 699px) {
    /* media quiries for home page */
    .dropdown > select {
        padding: 8px 15px;
    }

    .glyphicon {
        font-size: 23px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 12px;
        margin-top: 2%;
        padding: 6px 15px !important;
    }

    .headerTop_rightSec {
        padding-bottom: 0%;
    }

    .findPerson input {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 28.5% 2%;
        background: inherit;
        width: 4%;
    }

    .featuredProject, .featuredActor, .activeProject {
        margin-top: 5%;
        width: 100% !important;
    }

    .activeProject_detailLeft p {
        margin-bottom: 3%;
    }

}

@media only screen and (min-width: 480px) and (max-width: 553px) {
    /*media quiries for home page*/
    .dropdown > select {
        padding: 8px 15px;
    }

    .glyphicon {
        font-size: 23px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 12px;
        margin-top: 2%;
        padding: 6px 15px !important;
    }

    .headerTop_rightSec {
        padding-bottom: 0%;
    }

    .headerTop_rightSec span, .headerTop_rightSec p {
        font-size: 14px;
    }

    .findPerson input {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 28.5% 2%;
        background: inherit;
        width: 4%;
    }

    .featuredProject, .featuredActor, .activeProject {
        margin-top: 5%;
        width: 100% !important;
    }

    .activeProject_detailLeft p {
        margin-bottom: 3%;
    }

}

@media only screen and (min-width: 425px) and (max-width: 479px) {
    /* media quiries for home page */
    .dropdown > select {
        padding: 8px 15px;
    }

    .glyphicon {
        font-size: 23px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 12px;
        margin-top: 3%;
        padding: 6px 15px !important;
    }

    .headerTop_rightSec {
        padding-bottom: 0%;
    }

    .headerTop_rightSec span, .headerTop_rightSec p {
        font-size: 12px;
    }

    .findPerson input {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 28.5% 2%;
        background: inherit;
        width: 4%;
    }

    .featuredProject, .featuredActor, .activeProject {
        margin-top: 5%;
        width: 100% !important;
    }

    .activeProject_detailLeft p {
        margin-bottom: 3%;
    }

    .featuredActor h4, .activeProject h4 {
        font-size: 20px;
    }

    .itemProject_detail p {
        font-size: 12px;
    }

    .itemActor_detail h5 {
        font-size: 18px;
    }

    .itemActor_detail p, .itemActor_detail span, .activeProject_detailLeft span, .activeProject_detailLeft p {
        font-size: 10px;
    }

    .activeProject_detailLeft h5, .activeProject_bottom {
        font-size: 14px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 424px) {
    /* media quiries for home page */
    .fa-2x {
        font-size: 1em !important;
    }

    .dropdown > select, .dropdown ul li {
        font-size: 10px;
        padding: 12px 12px;
    }

    .glyphicon {
        font-size: 22px;
        padding: 8px 10px;
    }

    .navbar-form .btn {
        font-size: 12px;
        margin-top: 7%;
        padding: 5px 4px !important;
    }

    .headerTop_rightSec {
        padding-bottom: 0%;
    }

    .headerTop_rightSec span, .headerTop_rightSec p {
        font-size: 8px;
    }

    .findPerson input {
        width: 100%;
    }

    .itemProject_detail p {
        font-size: 16px;
    }

    .carousel-control.left, .carousel-control.right {
        margin: 28.5% 2%;
        background: inherit;
        width: 4%;
    }

    .featuredProject, .featuredActor, .activeProject {
        margin-top: 5%;
        width: 100% !important;
    }

    .activeProject_detailLeft p {
        margin-bottom: 3%;
    }

    .featuredActor h4, .activeProject h4 {
        font-size: 18px;
    }

    .itemProject_detail p {
        font-size: 12px;
    }

    .itemActor_detail h5 {
        font-size: 14px;
    }

    .itemActor_detail p, .itemActor_detail span, .activeProject_detailLeft span, .activeProject_detailLeft p {
        font-size: 10px;
    }

    .activeProject_detailLeft h5, .activeProject_bottom {
        font-size: 14px;
    }

}


